*{
    margin : 0px;
    padding: 0px;
    box-sizing: border-box;

    /*  fonts  */
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    /*  font -ends here */
}
body {
    min-height: 100vh;
    min-width: 100vw;
    background : #191d28;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

body::-webkit-scrollbar{
    display: none;
}

.App{
    background : #191d28;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}



/*  header styles ------------------------------------------------------------------------------------------------*/
.Header{
    width: 100vw;
    height: 12vh;
    color: #fff;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.headerChild{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoImage{
  width: 60%;
}

.switch{
    position: relative;
    position: inline-block;
    width: 60px;
    height: 34px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2e3241;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #67b8fb;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* the timer */


.base-timer {
  position: relative;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.base-timer span{
  position: absolute;
}
.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.child3 div{
 margin: 0px 5px;
}
.child2{
  flex-wrap: wrap;
}
.btn{
    text-decoration: none;
    padding: 0.5rem 0.5rem;
   background-color: #3dc6c1;
   border-radius: 9px;
}

.child2Button{
    background-color: #2e3241;
    padding: 8px 8px;
    color: #fff;
    border: none;
    border-radius: 9px;
}
.child2Button select , select , div {
  margin: 0px 10px;
}
select:focus{
  outline: none;
}
#buyUnique a{
  text-decoration: none;
  color: White;
  font-size: 13px;
}

/*  block ends here */

.tableContainer{
  width: 90vw;
}
.tableContainer table{
  width: 100%;
}
td, th {
  text-align: center;
  padding: 20px;
  margin: 0px;
}
tr {
  margin: 0px;
  background-color: #2e3241;
  border-radius: 9px;
}


  /*  header styles ends here ---------------------------------------------------------------------------------------------*/
 
  .averageFetcher{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .avgFetcherChild{
     width: 13%;
     background-color: red;
  }
  .avgFetcherChild h3{
    font-size: 30px;
  }
  .center{
    width: 30%;
    background-color: yellow;
    font-size: 35px;
  }




  @media only screen and (max-width : 750px){
    .Header{
      height: 25vh;
        flex-direction: column;
    }
    .headerChild{
      width: 100%;
    }
  }